---
title: "Development Branch - Archipelagic Research Program"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/divers_turtle.JPG
  actions:
    - label: "Learn about PIFSC"
      url: "https://www.fisheries.noaa.gov/about/pacific-islands-fisheries-science-center"
    - label: "Learn about NCRMP"
      url: "https://www.coris.noaa.gov/monitoring/#"
  caption: "Photo credit: Lori Luers/NOAA"
excerpt: "The program is funded by the National Coral Reef Monitoring Program (NCRMP),a project of the Coral Reef Conservation Program (CRCP). We work for the Ecosystem Sciences Division of the Pacific Islands Fisheries Science Center (PIFSC) at NOAA in Honolulu, Hawai'i."
intro: 
  - excerpt: 'We conduct long-term monitoring of shallow-water coral reef ecosystems with interdiscplinary surveys that encompass various benthic, oceanographic, climate change impacts, and fish surveys.'
feature_row:
  - image_path: https://www.fisheries.noaa.gov/s3//2024-08/5472x3648-NCRMP-Hawaii-potatoe-chip-coral-Kapou-Fisheries-PIFSC.jpg
    alt: "benthic image 1"
    title: "Benthic surveys"
    excerpt: "Collecting and extracting data from structure-from-motion imagery, benthic cover data from photoquadrat imagery, and diver coral demographic surveys."
    url: /team/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: "https://www.fisheries.noaa.gov/s3//2024-08/5472x3648-NCRMP-coral-Hawaii-Fishereis-PIFSC.JPG"
    alt: "occ image 2"
    title: "Oceanographic & Climate Change "
    excerpt: "CTD, water samples, diel suite, pH, measuring reef bioerosion and calcification, temperature, and more."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: https://www.fisheries.noaa.gov/s3//2024-07/5472x3648-NCRMP-Maui-Coral-Dascyllus-Fisheries-PIFSC.JPG
    alt: "fish image 3"
    title: "Fish biodiversity & biomass"
    excerpt: "Fish identification and measuring using an Stationary-Point-Count (SPC) cylinder methodology."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}